@using JNogueira.Bufunfa.Web.Helpers

@model JNogueira.Bufunfa.Web.Models.CartaoCredito

<div class="kt-portlet app-modal-md" style="margin-bottom:0;" id="portlet-manter">
    <div class="kt-portlet__head popup">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                @(Model == null ? "Adicionar" : "Alterar") cartão de crédito
            </h3>
        </div>
    </div>
    <form class="kt-form kt-form--label-right" id="form-manter-cartao-credito">
        <input type="hidden" id="iIdCartaoCredito" name="iIdCartaoCredito" value="@(Model != null ? Model.Id.ToString() : string.Empty)">
        <div class="kt-portlet__body">
            <div class="form-group row">
                <div class="col-lg-12 form-group-sub">
                    <label>Nome</label> @CustomHtmlHelper.IconeCampoObrigatorio()
                    <input type="text" class="form-control" id="iNome" name="iNome" value="@Model?.Nome">
                    <span class="form-text text-muted">Nome de identificação do cartão.</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 form-group-sub">
                    <label>Dia do vencimento da fatura</label> @CustomHtmlHelper.IconeCampoObrigatorio()
                    <input type="text" class="form-control" id="iDiaVencimentoFatura" name="iDiaVencimentoFatura" value="@Model?.DiaVencimentoFatura">
                    <span class="form-text text-muted">Dia em que vence a fatura do cartão</span>
                </div>
                <div class="col-md-6 form-group-sub">
                    <div class="form-group">
                        <label>Limite de crédito</label> @CustomHtmlHelper.IconeCampoObrigatorio()
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">R$</span></div>
                            <input type="text" class="form-control" id="iValorLimite" name="iValorLimite" value="@Model?.ValorLimite.ToString("N2")">
                        </div>
                        <span class="form-text text-muted">Valor do limite de crédito do cartão.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot popup">
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-lg-12 kt-align-right">
                        <button type="reset" class="btn btn-sm btn-outline-hover-primary btn-elevate btn-fechar"><i class="la la-close"></i> Cancelar</button>
                        <button type="submit" class="btn btn-sm btn-primary"><i class="la la-check"></i> Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>