@using JNogueira.Bufunfa.Web.Helpers
@using JNogueira.Bufunfa.Web

@model JNogueira.Bufunfa.Web.Models.Conta

<div class="kt-portlet app-modal-md" style="margin-bottom:0;" id="portlet-manter">
    <div class="kt-portlet__head popup">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                @(Model == null ? "Adicionar" : "Alterar") ação
            </h3>
        </div>
    </div>
    <form class="kt-form kt-form--label-right" id="form-manter-conta">
        <input type="hidden" id="iIdConta" name="iIdConta" value="@(Model != null ? Model.Id.ToString() : string.Empty)">
        <div class="kt-portlet__body">
            <div class="form-group row">
                <div class="col-md-6 form-group-sub">
                    <label>Sigla</label> @CustomHtmlHelper.IconeCampoObrigatorio()
                    <input type="text" class="form-control text-uppercase" id="iNome" name="iNome" value="@Model?.Nome">
                </div>

                <div class="col-md-6 form-group-sub">
                    <label>Tipo</label> @CustomHtmlHelper.IconeCampoObrigatorio()
                    @{
                        var lstTipo = new List<SelectListItem>()
                                                                                                                                                                                                                                                                                                        {
                            new SelectListItem(string.Empty, string.Empty, Model == null),
                            new SelectListItem("Ação", ((int)TipoConta.Acoes).ToString(), Model != null && Model.CodigoTipo == (int)TipoConta.Acoes),
                            new SelectListItem("FII", ((int)TipoConta.FII).ToString(), Model != null && Model.CodigoTipo == (int)TipoConta.FII)
                        };
                    }
                    <select class="form-control" id="sTipo" name="sTipo" style="width: 100%;" asp-items="@lstTipo">
                    </select>
                    <span class="form-text text-muted"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12 form-group-sub">
                    <label>Descrição</label>
                    <input type="text" class="form-control" id="iNomeInstituicao" name="iNomeInstituicao" value="@Model?.NomeInstituicao">
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot popup">
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-lg-12 kt-align-right">
                        <button type="reset" class="btn btn-sm btn-outline-hover-primary btn-elevate btn-fechar"><i class="la la-close"></i> Cancelar</button>
                        <button type="submit" class="btn btn-sm btn-primary"><i class="la la-check"></i> Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>