@using JNogueira.Bufunfa.Web.Models
@using JNogueira.Bufunfa.Web.Helpers

@inject CustomHtmlHelper customHtmlHelper

@model JNogueira.Bufunfa.Web.Models.RelatorioExtratoPorPeriodoSaida

<div class="kt-invoice-2">
    <div class="kt-invoice__head" style="padding: 15px 0;">
        <div class="kt-invoice__container">
            <div class="kt-invoice__brand">
                <table style="width:100%;">
                    <tr>
                        <td>
                            <h1 class="kt-invoice__title" style="margin-bottom:0;">EXTRATO POR PERÍODO</h1>
                            <span>@Html.Raw(Model.Periodo != null ? $"<span class=\"kt-font-bold\">{Model.Periodo.Nome}</span> <span class=\"kt-badge kt-badge--dark kt-badge--dot kt-badge--sm\"></span> " : string.Empty)Período de @Model.DataInicio.ToString("dd/MM/yyyy") até @Model.DataFim.ToString("dd/MM/yyyy")</span>
                        </td>
                        <td style="width: 1px;">
                            @if (Model.GerarPdf)
                            {
                                @customHtmlHelper.CriarTagImgPorOS("/img/logo-relatorio.png")
                            }
                            else
                            {
                                <img src="~/img/logo-relatorio.png" style="max-width: none;">
                            }
                        </td>
                    </tr>
                </table>
            </div>

            <div class="kt-invoice__items" style="margin-top: 15px;">
                <div class="kt-invoice__item">
                    <span class="kt-invoice__subtitle">Conta</span>
                    <span class="kt-invoice__text">@Model.Conta.Nome</span>
                </div>
                <div class="kt-invoice__item">
                    <span class="kt-invoice__subtitle">Tipo</span>
                    <span class="kt-invoice__text"><i class="fa fa-university" style="color: @(Model.Conta.ObterCorPorTipoConta());"></i> @Model.Conta.DescricaoTipo</span>
                </div>
                <div class="kt-invoice__item">
                    <span class="kt-invoice__subtitle">Instituição</span>
                    <span class="kt-invoice__text">@Model.Conta.NomeInstituicao</span>
                </div>
                <div class="kt-invoice__item">
                    <span class="kt-invoice__subtitle">Número</span>
                    <span class="kt-invoice__text">@Model.Conta.Numero</span>
                </div>
                <div class="kt-invoice__item">
                    <span class="kt-invoice__subtitle">Agência</span>
                    <span class="kt-invoice__text">@Model.Conta.NumeroAgencia</span>
                </div>
            </div>
        </div>
    </div>

    <div class="kt-invoice__footer" style="padding: 1rem 0;">
        <div class="kt-invoice__container">
            <div class="table-responsive">
                <table class="table" style="margin-bottom: 0px;">
                    <thead>
                        <tr>
                            <th style="text-transform:uppercase" class="text-center">Saldo atual da conta</th>
                            <th style="text-transform: uppercase" class="text-center">Créditos <span class="kt-badge kt-badge--success kt-badge--dot kt-badge--sm"></span> Total</th>
                            <th style="text-transform:uppercase" class="text-center">Débitos <span class="kt-badge kt-badge--danger kt-badge--dot kt-badge--sm"></span> Total</th>
                            <th style="text-transform: uppercase" class="text-center">Saldo no período</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="@(Model.Conta.ValorSaldoAtual >= 0 ? "kt-font-success" : "kt-font-danger") kt-font-xl kt-font-bold text-center">@Model.Conta.ObterSaldoAtualEmReais()</td>
                            <td class="kt-font-success kt-font-lg kt-font-bold text-center">@Model.ObterTotalCreditoEmReais()</td>
                            <td class="kt-font-danger kt-font-lg kt-font-bold text-center">@Model.ObterTotalDebitoEmReais()</td>
                            <td class="@(Model.ValorSaldoPeriodo >= 0 ? "kt-font-success" : "kt-font-danger") kt-font-xl kt-font-bolder text-center">@Model.ObterSaldoPeriodoEmReais()</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="kt-invoice__body" style="padding: 20px 0;">
        <div class="kt-invoice__container">
            <table class="table table-striped table-borderless">
                <thead>
                    <tr>
                        <th style="width:1px; white-space:nowrap;">DATA</th>
                        <th>CATEGORIA</th>
                        <th>PESSOA</th>
                        <th>OBSERVAÇÃO</th>
                        <th></th>
                        <th class="text-center">VALOR</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var lancamento in Model.Lancamentos.OrderBy(x => x.Data))
                    {
                        <tr>
                            <td style="white-space: nowrap;">@lancamento.Data.ToString("dd/MM/yyyy") <span class="kt-badge kt-badge--dark kt-badge--dot kt-badge--sm"></span> <small class="kt-font-bolder kt-font-primary">@lancamento.Data.ToString("ddd").ToUpper()</small></td>
                            <td>
                                <i class="fa fa-tag kt-font-@(lancamento.Categoria.ObterTipo() == TipoCategoria.Credito ? "success" : "danger") kt-font-sm"></i> @lancamento.Categoria.Caminho
                            </td>
                            <td>@lancamento.Pessoa?.Nome</td>
                            <td>@lancamento.Observacao</td>
                            <td style="text-align:center; padding:0.3rem;">
                                @if (lancamento.IdParcela.HasValue)
                                {
                                    <i class="fa fa-calendar-alt kt-font-primary"></i>
                                }
                                else if (!string.IsNullOrEmpty(lancamento.IdTransferencia))
                                {
                                    <i class="fa fa-share-square kt-font-primary"></i>
                                }
                                else if (lancamento.Categoria.Id == 3) // Pagamento de fatura
                                {
                                    <i class="fa fa-credit-card kt-font-primary"></i>
                                }
                            </td>
                            <td class="kt-font-@(lancamento.Categoria.ObterTipo() == TipoCategoria.Credito ? "success" : "danger") kt-font-lg text-right coluna-valor" style="width:1px; white-space: nowrap;">@lancamento.ObterValorEmReais()</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr style="border-top: 3px solid #ccc;">
                        <td colspan="5" class="text-right kt-font-lg kt-font-bolder">TOTAL</td>
                        <td class="@(Model.ValorSaldoPeriodo >= 0 ? "kt-font-success" : "kt-font-danger") kt-font-xl kt-font-bolder text-right" style="white-space: nowrap;">@Model.ObterSaldoPeriodoEmReais()</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>