@using JNogueira.Bufunfa.Web.Models

@model IEnumerable<RendaVariavelAnalise>

@if (Model != null && Model.Any())
{
    <div class="kt-widget11">
        <div class="table-responsive">
            <table class="table" style="margin-bottom: 0;">
                <thead>
                    <tr>
                        <td class="text-nowrap">Sigla</td>
                        <td class="text-nowrap text-right" style="width:15%;">Total compra</td>
                        <td class="text-nowrap text-right" style="width:15%;">Total dividendos</td>
                        <td style="width:1px"></td>
                        <td style="width:1px"></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var analise in Model)
                    {
                        <tr>
                            <td class="text-nowrap">
                                <span class="kt-widget11__title">
                                    @analise.SiglaAtivo @Html.Raw(analise.CodigoTipo == (int)TipoConta.FII ? "<span class=\"kt-badge kt-badge--dark kt-badge--dot kt-badge--sm\"></span> <small class=\"kt-font-bolder kt-font-primary\">FII</small>" : string.Empty)
                                </span>
                                <span class="kt-widget11__sub"><small style="font-size: 85%;">@analise.NomeAtivo</small></span>
                            </td>
                            <td class="text-nowrap text-right">
                                <span class="kt-font-bold">@analise.ValorTotalCompra.ToString("c2")</span><br />
                                <small>@analise.QuantidadeEmCarteira.ToString("N0") @(analise.CodigoTipo == (int)TipoConta.RendaVariavel ? (analise.QuantidadeEmCarteira > 1 ? "ações" : "ação") : (analise.QuantidadeEmCarteira > 1 ? "cotas" : "cota"))</small>
                            </td>
                            <td class="text-nowrap text-right">
                                <span class="kt-font-success kt-font-bold">@analise.ObterValorTotalJurosDividendosEmReais()</span><br />
                            </td>
                            <td>
                                @if (analise.CodigoTipo == (int)TipoConta.FII)
                                {
                                    <a href="https://www.fundsexplorer.com.br/funds/@(analise.SiglaAtivo)" target="_blank" class="btn btn-clean btn-sm btn-icon btn-icon-sm btn-datatables" data-toggle="kt-tooltip" data-boundary="window" data-placement="top" data-original-title="Informações do ativo"><span class="la la-info-circle"></span></a>
                                }
                                else
                                {
                                    <a href="https://www.sunoresearch.com.br/acoes/@(analise.SiglaAtivo)/" target="_blank" class="btn btn-clean btn-sm btn-icon btn-icon-sm btn-datatables" data-toggle="kt-tooltip" data-boundary="window" data-placement="top" data-original-title="Informações do ativo"><span class="la la-info-circle"></span></a>
                                }
                            </td>
                            <td><button class="btn btn-clean btn-sm btn-icon btn-icon-sm btn-datatables detalhar-acao" data-id-acao="@analise.IdConta" data-toggle="kt-tooltip" data-boundary="window" data-placement="top" data-original-title="Detalhar ativo"><span class="la la-search-plus"></span></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="text-center">Nenhum ativo encontrado.</div>
}